html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    padding: 20px;
}

.container {
    width: 100%;
    height: 510px;
    position: relative;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

.container2 {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    height: 510px;
    position: relative;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    word-spacing: 6px;
    letter-spacing: 2px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

.contant {
    width: 100%;
    height: 370px;
    overflow-y: scroll;
}

table,
tr,
th {
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

tr,
th {
    border: 1px solid;
    padding: 15px 65px;
    font-size: 17px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.r1 {
    border: 1px solid red;
    width: 60%;
    padding: 6px;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
}

.r1:hover {
    background-color: rgb(255, 81, 81);
}

.contant1 {
    border: 1px solid red;
    width: 15%;
    height: 35%;
    position: absolute;
    border-radius: 50%;
    top: 23%;
    right: 3%;
    background-image: url(image/flute\ background.jpg);
    opacity: 90%;
    background-size: contain;
    box-shadow: 10px 10px 5px 2px #bfbfbf;
}

.txt1 {
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    text-indent: 20px;
    position: relative;
    left: 11%;
    top: 5%;
    color: red;
}

.txt2 {
    font-size: 21px;
    font-weight: bolder;
    font-style: oblique;
    float: right;
    position: relative;
    border-bottom: 1px solid;
    left: -35%;
    color: red;
    top: -7%;
}

.txt3 {
    font-size: 14px;
    font-weight: 600;
    font-style: oblique;
    float: right;
    position: relative;
    left: -1%;
    top: 20%;
    color: red;
}

.contant1 .payment {
    width: 80%;
    padding: 10px;
    margin: 0 25px;
    background-color: red;
    border-radius: 10px;
    border: 1px solid red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 90px;
}

.contant1 .payment:hover {
    background-color: rgb(255, 81, 81);
}

.contant1 .method {
    font-size: 15px;
    position: relative;
    top: 50px;
    left: 27px;
}

.container {
    overflow-y: auto;
}

.r11 {
    width: 100%;
    height: 150px;
    display: inline;
    position: relative;
    top: 20px;
    border-radius: 0 10px;
    background-color: #ebebeb;
}

.r21 {
    width: 40%;
    border: 1px solid slategray;
    height: 40px;
    border-radius: 0 10px;
    font-weight: 700;
    font-style: oblique;
    text-align: justify;
    display: flex;
    position: relative;
    top: -16px;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    color: white;
}

.r31 {
    font-size: 16px;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-style: oblique;
    text-align: justify;
    text-indent: 30px;
    position: relative;
    top: -33px;
    border: 1px solid slategray;
    height: 88px;
    border-radius: 0 10px;
    padding: 10px;
}

.r41 input {
    position: absolute;
    top: 90px;
    right: 40px;
    width: 10%;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
}

.r41 input:hover {
    background-color: rgb(255, 81, 81);
}

.r51 input {
    position: absolute;
    top: 90px;
    right: 90px;
    width: 10%;
    height: 30px;
    background-color: rgb(0, 200, 255);
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid rgb(0, 200, 255);
    border-radius: 20px;
    cursor: pointer;
}

.r51 input:hover {
    background-color: rgb(104, 207, 251);
}

.logo {
    position: relative;
    width: 72%;
    font-family: 'Great Vibes', cursive;
    background-color: rgba(122, 120, 120, 0.683);
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    top: 0px;
    left: 8%;
    padding: 10px;
    animation: fadeIn 5s;
}

.logo2 {
    position: relative;
    width: 18%;
    font-family: 'Great Vibes', cursive;
    background-color: rgba(122, 120, 120, 0.683);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    top: -20px;
    left: 35%;
    color: white;
    padding: 10px;
}

hr {
    width: 75%;
    border-radius: 2px;
    height: 2px;
    background-color: black;
}

.f12 {
    border: 1px solid #ccc;
    width: 80%;
    height: 300px;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    top: 0%;
}

.f12 input {
    position: relative;
    top: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid;
    width: 40%;
    float: left;
}

label {
    font-weight: 700;
    float: left;
}

textarea {
    position: relative;
    top: 60px;
    left: -7.5%;
    border-radius: 7px;
}

.pay {
    position: absolute;
    top: 4%;
    font-style: oblique;
    font-size: 27px;
    font-variant: small-caps;
    font-weight: bold;
}

#gpay {
    position: absolute;
    top: 50%;
    left: 49%;
    width: 5%;
    height: 17px;
}

#gpay1 {
    position: absolute;
    top: 63%;
    left: 49%;
    width: 5%;
    height: 17px;
}

#pay1 {
    position: absolute;
    top: 83%;
    left: 29%;
    font-weight: bold;
    color: white;
    background-color: red;
}

#pay1 {
    position: absolute;
    top: 83%;
    left: 29%;
    font-weight: bold;
    color: white;
    background-color: red;
}

#pay1:hover {
    background-color: rgb(248, 138, 138);
    cursor: pointer;
}